@model AppStores.Models.Books
@{
    ViewData["Title"] = "Детали книги";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>@Model.Name</h2>
            <p>@Model.Discription</p>
        </div>
        <div class="col-md-6">
            <img src="@Url.Content(Model.Image)" class="img-fluid" alt="@Model.Name">
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col">
            <form method="post" asp-action="Download" asp-controller="Games" asp-route-id="@Model.Id" onsubmit="return confirm('Вы уверены, что хотите скачать эту игру?');">
                <button type="submit" class="btn btn-primary">Скачать</button>
            </form>

        </div>
    </div>
</div>
